.container {
  max-width: 960px;

}

body {
    background: url(https://static.vecteezy.com/system/resources/previews/006/308/412/non_2x/white-red-and-black-abstract-background-with-triangle-element-vector.jpg);
    background-size: 100vw 195vh;
    background-repeat: no-repeat;
}

